<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item">x</a>
    <div class="title">@(Pizza.IsSide ? "" : Pizza.Size.ToString())" @(Pizza.Vegan ? "Vegan" : "") @Pizza.Special.Name</div>
    <ul>
        @foreach (var topping in Pizza.Toppings)
        {
            <li>+ @topping.Topping.Name</li>
        }
        @if (Pizza.GlutenFree)
        {
            <li>Gluten Free Base</li>
        }
    </ul>
    <div class="item-price">
        @Pizza.GetFormattedTotalPrice()
    </div>
</div>

@code {
    [Parameter] public Pizza Pizza { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}