
@foreach (var pizza in Order.Pizzas.OrderBy(a => a.IsSide).ThenBy(p => p.Special.Name))
{
    <p>
        <strong>
            @(pizza.IsSide ? "" : pizza.Size.ToString() + "\"")
            @(pizza.Vegan ? "Vegan" : "") @(pizza.GlutenFree ? "Gluten Free": "") @pizza.Special.Name
            (£@pizza.GetFormattedTotalPrice())
        </strong>
    </p>

    <ul>
        @foreach (var topping in pizza.Toppings)
        {
            <li>+ @topping.Topping.Name</li>
        }
    </ul>
}
@foreach (var drink in Order.Drinks)
{
    <p><strong>@drink.Drink.DrinkName (£@drink.GetFormattedPrice)</strong></p>
}
@if (!string.IsNullOrEmpty(Order.Comment))
{

<div style="
    border: 1px solid black;
    padding: 5px;
    background: whitesmoke;
">
    <h3 style="
    background: red;
    color: white;
    padding: 5px;
">
        Note
    </h3>
    <i>@Order.Comment</i><!--!-->
</div>
}

<p>
    <strong>
        Total price:
        £@Order.GetFormattedTotalPrice()
    </strong>
</p>

@code {
    [Parameter] public Order Order { get; set; }
}
